.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position:fixed;
    background: white;
    min-width: 350px;
    height: auto;
    top:20%;
    left:50%;
    transform: translate(-50%,0);
    padding: 20px;
}

.display-block {
    display: block;
}
  
.display-none {
    display: none;
}
  