.trackCard {
    background-image: linear-gradient(to bottom, #ffffff, #f4d264);
    border: 1px solid #444444;
    color: #000000;
    border-radius: 10px;
    font-family: Avenir, sans-serif;
    margin-top: 15px;
}

.trackCard h3 {
    font-size: 20px;
    color: #000000;
    margin: 0;
    text-align: center;
}

.trackCardImg {
    width: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}