* {
  box-sizing: border-box;
}

@font-face {
  font-family: MarioWii;
  src: url('fonts/MarioKartWii.ttf');
}

h1 {
  font-family: MarioWii, sans-serif;
}

body {
  background-image: linear-gradient(#2867de, #0e2a7a);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bgImage-right {
  position: fixed;
  bottom: 0;
  right: -100px;
  display: block;
  height: 400px;
  z-index: -1;
}

.bgImage-left {
  position: fixed;
  bottom: 0;
  left: -20px;
  display: block;
  height: 400px;
  z-index: -1;
}

.contentContainer {
  width: 740px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1390px) {

  .bgImage-right {
    right: calc(23% - 436px);
  }

  .bgImage-left {
    left: calc(34% - 524px);
  }

}
