@font-face {
    font-family: Mario;
    src: url('../../fonts/marioFont.ttf');
}

.header {
    font-family: Mario, sans-serif;
    font-size: 2rem;
    text-align: center;
    word-spacing: -10px;
    letter-spacing: 1px;
    color: rgba(255,255,255,0);
    background-image: linear-gradient( #fff 30%, #ccc 58%, #999 64%, #ddd 90%);
    -webkit-background-clip: text;
}